<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.ordering.mapper.OrderMapper">

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderNum">
        INSERT INTO orders
        (order_user_id , order_total_money,order_status)
        VALUES
        (#{orderUserId,jdbcType=BIGINT} , #{orderTotalMoney} , #{orderStatus})
    </insert>

    <update id="updateOrderStatus">
        UPDATE orders
        SET order_status = #{orderStatus}
        WHERE order_num = #{orderNum}
    </update>

    <select id="findByUserId" resultType="com.luwei.ordering.entity.OrdersEntity">
        SELECT order_num, order_user_id, order_total_money, order_time, order_status
        FROM orders
        WHERE order_user_id = #{userId}
        ORDER BY order_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countByUserId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM orders WHERE order_user_id = #{userId}
    </select>

    <select id="findByOrderNum" resultType="com.luwei.ordering.entity.OrdersEntity">
        SELECT order_num, order_user_id, order_total_money, order_time, order_status
        FROM orders
        WHERE order_num = #{orderNum}
    </select>


</mapper>